@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: var(--text-color);
  gap: 15rem;
}

:root {
  --app-color: #01fe87;
  --text-color: #252839;
  --stroke-color: #383d52;
}

h2 {
  position: relative;
  font-size: 8vw;
  color: var(--text-color);
  -webkit-text-stroke: 0.3vw var(--stroke-color);
  text-transform: uppercase;
}

h2::before {
  content: "@amitrai_dev";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  color: var(--app-color);
  -webkit-text-stroke: 0vw var(--stroke-color);
  border-right: 2px solid var(--app-color);
  overflow: hidden;
  animation: animate 6s linear infinite;
}

@keyframes animate {
  0%,
  10%,
  100% {
    width: 0;
  }

  70%,
  90% {
    width: 100%;
  }
}
